apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller
  namespace: monitoring
  labels:
    app: unifi-poller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-poller
  template:
    metadata:
      labels:
        app: unifi-poller
    spec:
      containers:
      - name: unifi-poller
        image: ghcr.io/unpoller/unpoller:v2.16.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9130
          name: metrics
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 512Mi
        volumeMounts:
        - name: config-volume
          mountPath: /etc/unpoller/up.conf
          subPath: unifi-poller.conf
      volumes:
      - name: config-volume
        secret:
          secretName: unifi-poller-secrets
