apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: monitoring
  labels:
    app: nut-server

data:
  telegraf.conf: |
    [[inputs.nut]]
      servers = [
        { name = "ups1", address = "nut-server.monitoring.svc.cluster.local", port = 3493, username = "mon", password = "monpass" },
        { name = "pdu1", address = "nut-server.monitoring.svc.cluster.local", port = 3493, username = "mon", password = "monpass" },
        { name = "pdu2", address = "nut-server.monitoring.svc.cluster.local", port = 3493, username = "mon", password = "monpass" }
      ]
      interval = "30s"

    [[outputs.influxdb_v2]]
      urls = ["http://influxdb.influxdb.svc.cluster.local:8086"]
      token = "$INFLUXDB_TOKEN"
      organization = "kng"
      bucket = "default"

    [global_tags]
      environment = "homelab"
