apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: monitoring
  labels:
    app: nut-server

data:
  telegraf.conf: |
    [agent]
      interval = "5m"
      round_interval = true
      metric_batch_size = 1000
      metric_buffer_limit = 10000
      collection_jitter = "0s"
      flush_interval = "30s"
      flush_jitter = "0s"
      precision = ""
      hostname = "nut-server"
      omit_hostname = false

    [global_tags]
      environment = "homelab"

    # Scrape UPS1 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=ups1"]
      metric_version = 2

    # Scrape PDU1 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=pdu1"]
      metric_version = 2

    # Scrape PDU2 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=pdu2"]
      metric_version = 2

    [[outputs.influxdb_v2]]
      urls = ["http://influxdb-influxdb2.influxdb.svc.cluster.local:8086"]
      token = "$INFLUXDB_TOKEN"
      organization = "influxdata"
      bucket = "default"
