apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: monitoring
  labels:
    app: nut-server

data:
  telegraf.conf: |
    # Scrape UPS1 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=ups1"]
      metric_version = 2
      interval = "30s"

    # Scrape PDU1 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=pdu1"]
      metric_version = 2
      interval = "30s"

    # Scrape PDU2 metrics
    [[inputs.prometheus]]
      urls = ["http://127.0.0.1:9199/ups_metrics?ups=pdu2"]
      metric_version = 2
      interval = "30s"

    [[outputs.influxdb_v2]]
      urls = ["http://influxdb-influxdb2.influxdb.svc.cluster.local:8086"]
      token = "$INFLUXDB_TOKEN"
      organization = "influxdata"
      bucket = "default"

    [global_tags]
      environment = "homelab"
