.DS_Store
*.env
*.lock
*.terraform
*.asc
*.key
**/hosts.ini
**/hosts.yaml
**/hosts.yml
**/.terraform.lock.hcl
.terraform
.vscode
ansible/nomad-cluster/keys/
deprecated/
gitops_key
gitops_key.pub
secrets.env
network.puml
rke2.yaml
k3s.yaml
un.yaml
secrets-un/