apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: default
  name: sealed-secrets
spec:
  chart: sealed-secrets
  repo: https://bitnami-labs.github.io/sealed-secrets
  targetNamespace: kube-system
  createNamespace: true