apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"

resources:
  - ns.yaml
helmCharts:
- name: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  version: 4.13.0
  releaseName: ingress-nginx
  namespace: ingress-nginx
  valuesFile: values.yaml
