apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-10"

resources:
  - secret-sync-rbac.yaml
  - cilium-agent-rbac.yaml

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.18.4
    releaseName: cilium
    namespace: kube-system
    valuesFile: values.yaml

patches:
  - path: envoy-patch.yaml
    target:
      kind: DaemonSet
      name: cilium-envoy  # Tell ArgoCD to not sync/manage the kube-system namespace resource
  - target:
      kind: Namespace
      name: kube-system
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-options
        value: "Delete=false"