configs:
  params:
    server.insecure: true
  cm:
    admin.enabled: "true"
    kustomize.buildOptions: "--enable-helm"
    url: "https://argocd.kng.house"
    resource.customizations.health.bitnami.com_SealedSecret: |
      hs = {}
      hs.status = "Healthy"
      hs.message = "SealedSecret is synced"
      return hs

server:
  ingress:
    enabled: true
    ingressClassName: cilium
    hostname: argocd.kng.house
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      external-dns.alpha.kubernetes.io/hostname: argocd.kng.house
