configs:
  params:
    server.insecure: true
  cm:
    admin.enabled: "true"
    kustomize.buildOptions: "--enable-helm"
    url: "https://argocd.kng.house"
    resource.customizations.health.bitnami.com_SealedSecret: |
      hs = {}
      hs.status = "Healthy"
      hs.message = "SealedSecret is synced"
      return hs
    # Authentik OIDC configuration
    oidc.config: |
      name: Authentik
      issuer: https://authentik.kng.house/application/o/argocd/
      clientID: $argocd-oidc-secret:clientID
      clientSecret: $argocd-oidc-secret:clientSecret
      requestedScopes:
        - openid
        - profile
        - email
        - groups
  rbac:
    policy.default: role:readonly
    policy.csv: |
      g, authentik Admins, role:admin

server:
  ingress:
    enabled: true
    ingressClassName: cilium
    hostname: argocd.kng.house
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      external-dns.alpha.kubernetes.io/hostname: argocd.kng.house
