apiVersion: v1
kind: Service
metadata:
  name: unifi-poller
  namespace: monitoring
  labels:
    app: unifi-poller
spec:
  type: ClusterIP
  ports:
  - port: 9130
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    app: unifi-poller
