image:
  repository: ghcr.io/unpoller/unpoller
  tag: v2.16.0
  pullPolicy: IfNotPresent

# Disable Grafana Operator dashboards (we don't have the operator)
# Dashboards will need to be imported manually into Grafana
dashboards:
  create: false
  grafana:
    create: false

# Minimal upConfig - credentials and URL come from environment variables
upConfig: |
  [poller]
    debug = false
  [prometheus]
    disable = false
    namespace = "unifipoller"
  [influxdb]
    disable = true
  [loki]
    disable = false
  [unifi]
    dynamic = false

# Environment variables override upConfig settings
env:
  - name: UP_POLLER_DEBUG
    value: "false"
  - name: UP_PROMETHEUS_DISABLE
    value: "false"
  - name: UP_PROMETHEUS_NAMESPACE
    value: "unifipoller"
  - name: UP_INFLUXDB_DISABLE
    value: "true"
  - name: UP_LOKI_URL
    value: "http://loki-gateway.logging.svc.cluster.local:80"
  - name: UP_LOKI_DISABLE
    value: "false"
  - name: UP_UNIFI_DEFAULT_URL
    valueFrom:
      secretKeyRef:
        name: unifi-poller-secrets
        key: unifi-url
  - name: UP_UNIFI_DEFAULT_VERIFY_SSL
    value: "false"
  - name: UP_UNIFI_DEFAULT_SAVE_SITES
    value: "true"
  - name: UP_UNIFI_DEFAULT_SAVE_IDS
    value: "false"
  - name: UP_UNIFI_DEFAULT_SAVE_DPI
    value: "true"
  - name: UP_UNIFI_DEFAULT_SAVE_EVENTS
    value: "false"
  - name: UP_UNIFI_DEFAULT_SAVE_ALARMS
    value: "false"
  - name: UP_UNIFI_DEFAULT_SAVE_ANOMALIES
    value: "false"
  - name: UP_UNIFI_DEFAULT_USER
    valueFrom:
      secretKeyRef:
        name: unifi-poller-secrets
        key: unifi-user
  - name: UP_UNIFI_DEFAULT_PASS
    valueFrom:
      secretKeyRef:
        name: unifi-poller-secrets
        key: unifi-password

# Enable PodMonitor for Prometheus Operator
podMonitor:
  enabled: true
  interval: 2m
  scrapeTimeout: 30s

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi
