image:
  repository: ghcr.io/unpoller/unpoller
  tag: v2.16.0
  pullPolicy: IfNotPresent

# Disable Grafana Operator dashboards (we don't have the operator)
# Dashboards will need to be imported manually into Grafana
dashboards:
  create: false
  grafana:
    create: false

# Configuration for unifi-poller using the upConfig format
# See https://unpoller.com/docs/install/configuration for all options
upConfig: |
  [poller]
    debug = false
    quiet = false
    plugins = []
  
  [prometheus]
    disable = false
    http_listen = "0.0.0.0:9130"
    report_errors = false
    namespace = "unifipoller"
  
  [influxdb]
    disable = true
  
  [loki]
    url = "http://loki-gateway.logging.svc.cluster.local:80"
    disable = false
  
  [unifi]
    dynamic = false
  
  [[unifi.controller]]
    url = "https://unifi.kng.house"
    user = "${UP_UNIFI_USER}"
    pass = "${UP_UNIFI_PASS}"
    sites = ["all"]
    save_ids = false
    save_dpi = true
    save_sites = true
    save_events = false
    save_alarms = false
    save_anomalies = false
    hash_pii = false
    verify_ssl = false

# Environment variables for credentials
env:
  - name: UP_UNIFI_USER
    valueFrom:
      secretKeyRef:
        name: unifi-poller-secrets
        key: unifi-user
  - name: UP_UNIFI_PASS
    valueFrom:
      secretKeyRef:
        name: unifi-poller-secrets
        key: unifi-password

# Enable PodMonitor for Prometheus Operator
podMonitor:
  enabled: true
  interval: 2m
  scrapeTimeout: 30s

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi
