apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: default
  name: argocd
spec:
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argocd
  createNamespace: true
  valuesContent: |-
    server:
      ingress:
        hostname: {{ argocd.domain }}
        enabled: true
        ingressClassName: nginx
        tls: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          external-dns.alpha.kubernetes.io/hostname: {{ argocd.domain }}
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS