apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: default
  name: argocd
spec:
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argocd
  createNamespace: true