apiVersion: v1
kind: Service
metadata:
  name: otbr
  namespace: otbr
  labels:
    app: otbr
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: web
  selector:
    app: otbr
