---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: grafana-secrets
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgBfsBqSOybl3E8JqQOPleZUW0md2H/7RUK3jbRytNIZPo0uvrHj6vlQtdKyoVNBAigMLSGDm4e+5y2dbIIrz0lqpV7YyrlSg+nhYwE1VLnfeVKelmBHI65aYeQE8pu9t56xqoPyBRe0DFdAbIrgpPTYqD4QD3Z1/PjVtSjtVmoHZynlyf8mFZYMLJHZp/qSwAyfssKkxPrc/Pl7l0fmQ4g+A2SF/CorrHXmb1hBvAT9EY9fWxXg5CdyxoW5l3VlJ+KESQnUCu04NUJeHmmgUMoM8ZemNyRJsfNqxOpWm8dS9/Zdk96IuhoEzsvw9VGW9/hqEaLz/gut00pTpJwuyQhLoMRgG5g58nI0bueaE3QZ3nHxOw82cFuQK1YYuJRHjzjRoFusqIUsC6GRzDJlfkRcESgL52Bcd+d3WyOi7uPhwlCCucfH8Nun6knrDx8t/CDJfKD2iE2ZwBtuZqsc+POBgdGg/SPz+X4Pqb0wChAiKYfxKmsYh0k/wXfW8AvAiaaUp1CXJagEXj/OlynMG0e5eK3tqLk0xdES43rwYBSFxrwMAMfvAV0YPA1qyVtSZWROP/2rN2QsSiUSloydQPim20S36TCx+LWFJPDE+aJu0z6gSNTq9DhRIyJ4KF1IRJCuR/wiENhBqDi0K/4tEAJinMkORMtmGegHos0Z/QmV5xK3gX7Kr5DE11hJiGK5wega8ppYSdHbw3e48NUEbt4k7XGyrfiN1f+AFi1SjI6S6at5oMxxxPtD35s66w==
    oauth-client-secret: AgC8FGN4xo1LgHtvIkUKWzjqE57liP1h6QyuHLueVob1Yv8jHBkOM/Lt5AJ48QwgSqZyRg/r8eWDwoe5LvzDzs7TqGqIilPaUAXP8ZTpqy0Iph8CDdCZ7qa4AV2iwZuQtmXe7b932E+dLb8Q20gP1ezzPe7dV7AZg5zYkM7uZ61GFS49onSwlBOxHDm2hE5lZGrqEHtLfflV1Em7evP1jdcd2K0L3a+Xa0IfncIytUQjTbv5L51/eaGkAtS4uwteabWWsbN6AYCzbH6wEaGnbM7jyLD4TR3Z0uk9PU7+08WIK4tBknvDReRBP6m6x5MNDH7UvrsfIx9gPDkmsxyr94teysKW6k0Ahsi+MyYyCfAhrzkJnfsdwD5hosIUN4P5El4uFUgZ+bOWG1i0GIr/PysZH8S4tGG8Kvv96bt2ZAVgA8xjvkZoRX9UN9Vgu7ClMxCB6l1apeXwF1OQ8ugwGTfs+Gstlg5+Zma8SB3HOLQBvS7H3viawtQ1mKRW/h4zia8e1kKjQgJ63xR76tFo9VhJJSR4oodTmbXfB+8m+LwIRe+gdcg/nNSEs8Gj4F4m6hbNAZ0Xl7xF2V0cv1XMWnWFeHMJhxDsxIFXzvE8QML3bI0/OdDT7CB98VZhIml/vYbHDxGULO5ygrD7jMCVB+YjuAQB5l2NP8PICZvz37Em/jNC1xcHOyGKpED3xpGCFxDxtQtMFzRqLU9J/rxHUNl5LyJgZel/xzEuEPzNIH+gkaYojXAzY4OEEoAlQA==
  template:
    metadata:
      creationTimestamp: null
      name: grafana-secrets
      namespace: monitoring
    type: Opaque
