apiVersion: v1
kind: Service
metadata:
  name: crafty-controller
  namespace: crafty-controller
  labels:
    app: crafty-controller
spec:
  type: ClusterIP
  ports:
  - name: https
    port: 8443
    targetPort: 8443
    protocol: TCP
  - name: dynmap
    port: 8123
    targetPort: 8123
    protocol: TCP
  selector:
    app: crafty-controller
---
apiVersion: v1
kind: Service
metadata:
  name: minecraft-server
  namespace: crafty-controller
  labels:
    app: crafty-controller
spec:
  type: LoadBalancer
  ports:
  - name: minecraft
    port: 25565
    targetPort: 25565
    protocol: TCP
  selector:
    app: crafty-controller
