apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

resources:
  - ns.yaml
  - secret-patcher-rbac.yaml
  - sealed-secret.yaml
  - backup-pvc.yaml
  - backup-cronjob.yaml
  - db-init.yaml
  - influxdb-init.yaml

helmCharts:
  - name: home-assistant
    repo: https://pajikos.github.io/home-assistant-helm-chart/
    version: 0.2.75
    releaseName: home-assistant
    namespace: home-assistant
    valuesFile: values.yaml
