apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

resources:
  - ns.yaml
  - secret-patcher-rbac.yaml
  - sealed-secret.yaml
  - sftp-sealed-secret.yaml
  - ssh-config.yaml
  - ssh-deployment.yaml
  - sftp-service.yaml
  - backup-pvc.yaml
  - db-init.yaml
  - influxdb-init.yaml

helmCharts:
  - name: home-assistant
    repo: https://pajikos.github.io/home-assistant-helm-chart/
    version: 0.3.33
    releaseName: home-assistant
    namespace: home-assistant
    valuesFile: values.yaml

patches:
  - path: argocd-ignore-patch.yaml
    target:
      kind: StatefulSet
      name: home-assistant
