apiVersion: v1
kind: ConfigMap
metadata:
  name: ssh-config
  namespace: home-assistant
data:
  sshd_config: |
    Port 2222
    Protocol 2
    HostKey /config/.ssh/ssh_host_ed25519_key
    HostKey /config/.ssh/ssh_host_rsa_key
    
    # Authentication
    PubkeyAuthentication yes
    PasswordAuthentication no
    PermitEmptyPasswords no
    ChallengeResponseAuthentication no
    
    # Required for VS Code Remote-SSH
    AllowTcpForwarding yes
    X11Forwarding no
    
    # Security
    PermitRootLogin no
    StrictModes yes
    MaxAuthTries 3
    MaxSessions 10
    
    # Logging
    SyslogFacility AUTH
    LogLevel INFO
    
    # Subsystems
    Subsystem sftp /usr/lib/ssh/sftp-server
