---
apiVersion: v1
kind: Service
metadata:
  name: otbr
  namespace: matter-thread
  labels:
    app: otbr
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: otbr
